

@font-face {
  font-family: 'bebasneue';
  src: local('bebasneue'), url('./fonts/BebasNeue-Regular.ttf');
}

/*
----- HEADER CSS -----
*/


header {
  background-color: #F1E680;
  height:50px;
  width:100%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "one two three";
  position: fixed;
  top:0px;
  right:0px;
  z-index: 3;
}

.one{
  grid-area: one;
  color: rgba(18, 6, 91, 0.76);
}

.two{
  grid-area: two;
  color:#7BAE37;
}

.three {
  grid-area: three;
  color: #FFA74F;
}

.header--button {
  font-family: 'bebasneue';
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  text-align: center;
  letter-spacing: 0.075em;
  background:none;
  border:none;
  outline: none;
}


/*
----- SECTION CSS -----
*/

section {
  position: relative;
  width:100%;
  height:600px;
  font-size:4vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  transition: height 1s;
}


svg {
  position: absolute;
  overflow: hidden;
  width: 200%;
  height: 10%;
  bottom:0;
  left:0;
  transform: translate(-50%,90%);
  z-index: 2;
}


#wave path {
  animation: wave 10s linear infinite   forwards ;
}

#wave2 path {
  animation: wave2 10s linear infinite   reverse ;
}

section h1 {
  font-family: 'bebasneue',Helvetica;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.01em;
  color:white;
  margin-top: 50px;
  font-size: 2.5vw;
}

section h1::first-letter {
  font-size: 1.4em;
}
.ctn1 {
  background-color:#7BAE37 ;
}

.ctn2 {
  background-color:#FFA74F ;
}

.ctn3 {
  background-color: #38334B;
}

#wave path {
  fill: #7BAE37 ;
}


/*
----- CARD & SECTION 1 CSS -----
*/

.card {
  height:100%;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 6px 6px 2.6px;
  backface-visibility: hidden;
  position:absolute;
}

.front {
  width:auto;
}

.back {
  background-color:#FCFFED;
  transform: rotateY(180deg);
  width:320px;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.title {
  width:60%;
  height:10%;
  text-align: center;
  background-color: #FFF845;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  display: table;
}

.title h1 {
  font-size: 23px;
  font-family: 'sans-serif';
  color: black;
  display:table-cell; 
  vertical-align:middle
}

.profil--title {
  height:5%;
  width:100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  margin-top:20px;
  color:black;
  font-size: 15px;
}

.skills--title {
  height:5%;
  width:50%;
  display:flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  color:black;
  font-size: 13px;
  text-align: center;
}



.profil--title img {
  margin-right: 10px;
}

.skills--wrapper {
  width:90%;
  height:37%;
  background-color: #FCE051;
  border-radius: 7px;
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
}


.logo--wrapper {
  width:90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  height: 30%;
  margin-top: 5px;
}

.logo--wrapper img {
  opacity: 70%;
  transition: opacity .5s;
  object-fit: fill;
  width: 50%;
}
.logo--wrapper img:hover {
  opacity: 100%;
}


.skills--wrapper span{
  display: flex;
  align-items: center;
}
.rating{
  width: 60%;
  justify-content: space-evenly;
  display: flex;
}
.profil--card {
  display: inline-block;
  border-radius: 7px;
  position:relative;
  transform-style: preserve-3d;
  height:90%;
  perspective: 1800px;
  cursor: pointer;
}


.profil--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width:105%;
}

.profil--wrapper p {
  width:50%;
  margin-left:5%;
  font-family: 'Helvetica';
  font-size: 2vw;
  font-weight: 500;
  letter-spacing: -0.005em;
  text-align: center;
  line-height:  40px;
  opacity: 0;
  color:rgb(4, 24, 5);
}

/*
----- Caroussel CSS -----
*/

.caroussel {
  height:70%;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  perspective: 1000px;
}

.project--wrapper {
  display:flex;
  flex-direction: column;
  text-align: center;
  width:30%;
  height:50%;
  position:absolute;
  transform-style: preserve-3d;
  justify-content: space-around;
}

.project--wrapper h5{
  width:80%;
  height:35%;
  margin:auto;
  font-size: 0.9vw;
  color: black;
}


.project--wrapper img {
  height:80%;
  border-radius: 7px;
  object-position:center;
  object-fit: cover;
  
  
}
.lazy {
  animation: load .7s infinite alternate linear;
  background-color: rgb(32, 30, 30);
}

@keyframes load {
  0%{
    transform: scale(100%);
    background-color: rgb(49, 48, 48);
  }
  100% {
    transform: scale(105%);
    opacity: 1;
    
  }
}
.arrow {
  position:absolute;
  opacity:0.8;
  transition: opacity .3s;
  height:50px;
  /* transform-origin: center center; */
  top:45%;
  transform:translateY(-50%);
  z-index:4;
  fill:white;
}
.arrow:hover {
  opacity:1;
  transform: translate(-0%, -50%) scale(1.15,1.15);
}

.left {
  left:18%;
}
.right {
  right:18%;
}


.contact--wrapper {
  display: flex;
  flex-direction: row;
  height:80%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.contact--form {
  position: relative;
  display: flex;
  flex-direction: column;
  width:45%;
  height:100%;
}
.contact--form form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  width:100%;
}
.contact--form form button {
  height: 10%;
  width:25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 15px;
  background-color: #7EF0B3;
  border-radius: 7px;
  font-family: 'Helvetica Neue';
  font-size: 1.5vw;
  border:none;
  margin: 0px 0px 0px 10%;
  transition: transform 0.2;
  cursor: pointer;
}
.contact--form form button img {
  max-height: 90%;
}

.contact--form form button:hover {
  transform: scale(110%);
}
#message--logo {
  position: absolute;
  bottom:0;
  right:0;
  max-height:35%;
}

.contact--form form textarea {
  resize: none;
  border-radius: 7px;
  border:none;
  outline:none;
  padding:5px;
  font-size:1vw;
  text-align: center;

}
::placeholder {
  text-align: center;
}
#name {
  width:80%;
  height:12%;
  margin-left:auto;
  margin-right:auto;
}

#message {
  width:90%;
  height:55%;
  margin-left:auto;
  margin-right:auto;
}
.contact--form h6{
  font-family: 'Helvetica';
  color: white;
  margin-bottom: 20px;
  font-size: 1.5vw;
}
.contact--form form {
  display: flex;
  flex-direction: column;
}

.contact--networks {
  display:flex;
  height:100%;
  width:45%;
}

#ligne {
  max-height: 70%;
  margin: 10% 0% 0% 0%;
}

.networks--logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width:90%;
  height:80%;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}



.networks--logo img{
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
  padding: 3px;
  opacity:0;
}

.page {
  position: relative;
  height:100%;
  width:100%;
}

.project--page {
  height:95%;
  width:100%;
  background-color: #FFA74F;
  display: grid;
  grid-gap:30px;
  grid-auto-rows: 40%;
  grid-auto-columns: 1fr;
  grid-template-areas: 
  "a a"
  "b c";
  padding: 0px 0px 0px 0px;
}

.pp--img {
  position: relative;
  grid-area: a;
  height:100%;
  opacity: 0;
}

.pp--img img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.pp--img h3 {
  position:absolute;
  color: #FFA74F;
  transform: translate(-50%,-50%);
  font-size: 5vw;
  left:50%;
  top:50%;
  background-color: rgba(0, 0, 0, 0.815);
  border:3px solid white;
  border-radius: 7px;
  padding: 20px;
  font-family: 'babasneue';
  z-index: 2;
}

.pp--descri {
  opacity: 0;
  margin-left:20px;
  grid-area: b;
  background-color: rgb(233, 142, 57);
  color:rgb(14, 13, 13);
  font-size: 2vw;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  border:2px solid rgb(219, 64, 3,0.9);
  box-shadow: 5px 5px 2px rgba(219, 64, 3, 0.603) ;
}


.pp--descri p {
  text-align: center;
  font-size: 2vw;
}

.pp--title {
  letter-spacing: 0.04em;
  margin-left:5%;
  font-size: 3vw;
}
.pp--logo {
  opacity: 0;
  border:2px solid rgb(219, 64, 3,0.9);
  box-shadow: 5px 5px 2px rgba(219, 64, 3, 0.603) ;
  margin-right:20px;
  grid-area: c;
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 147, 67);
  border-radius: 7px;

}

.pp--logo--wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:auto;
  height:80%;
  width:80%;
}

.pp--logo img {
  max-width:fit-content;
  height:40%;
}
.pp--house {
  position:fixed;
  bottom:15px;
  right:15px;
  background-color: white;
  border-radius: 50%;
  display:flex;
  height:50px;
  width:100px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.205);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.pp--fixed {
  opacity: 0;
  position:fixed;
  background-color: white;
  border-radius: 50%;
  display:flex;
  height:50px;
  width:100px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.205);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.pp--fixed:hover {
  transform: rotateX(10deg) rotateZ(10deg) scale(110%);
  cursor: pointer;
}

.pp--github {
  bottom:15px;
  right:150px;
  background-color: white;
}


.pp--fixed img {
  max-height: 70%;
  max-width: 70%;
  margin:auto;
}


/*
BREAKPOINTS for responsivity
*/

@media only screen and (max-width: 1400px) {
  /* .profil--wrapper p {
    font-size: 15px;
    line-height:  20px;
    width: 40%;
  } */
  .contact--wrapper {
    height:70%;
  }
  .skills--title {
    font-size:10px;
  }
  section {
    height:450px;
  }
  .back {
    width: 230px;
  }
  .logo--wrapper img {
    width: 50%;
  }
  .skills--wrapper img {
    height:12px;
  }
}

@media only screen and (max-width: 800px) {
  .profil--wrapper p {
    font-size: 2vw;
    line-height:  15px;
    width: 50%;
  }
  .profil--card {
    height:80%;
  }
  .title h1 {
    font-size: 10px;
  }
  .back {
    width: 130px;
  }
  section {
    height:300px;
  }
  .profil--title {
    font-size:6px;
    padding-left: 10px;
    height:5%;
    margin-top:3px;
  }
  .profil--title img {
    height: 50%;
    margin-right: 4px;
  }
  .logo--wrapper img {
    width: 35%;
  }

  .skills--wrapper img {
    height:5.5px;
  }
  .skills--wrapper h3 {
    font-size:4px;
    padding-left:10px;
  }
  .skills--wrapper {
    height:80%;
  }
  .contact--wrapper {
    height:60%;
  }
  .arrow {
    height:30px;

  }
  .contact--form form button {
    font-size: 1vw;
  }
}

@media only screen and (max-width: 500px) {

  .profil--wrapper p {
    font-size: 1.8vw;
    line-height:  15px;
    width: 40%;
  }
  .profil--card {
    height:50%;
  }
  .back {
    width: 90px;
  }
  section {
    height:300px;
  }
}


@keyframes wave {
  0%{
      transform: translateX(0%);   
      d: path("M1001 301V1H876.004H751.004H626.004H501.004H376.004H251.004H126.004H1.00391V301C58.5 285.5 73.5078 199.5 126.004 123C178.5 46.5 205 135 251.004 198C297.008 261 345.008 232 376.004 196C407 160 444 102.5 518 109.5C592 116.5 604 210.971 640.5 226C677 241.029 696 123 762 123C828 123 839 198 876.004 253.5C913.008 309 943.5 313 1001 301Z M2001 301V1H1876H1751H1626H1501H1376H1251H1126H1001V301C1058.5 285.5 1073.5 199.5 1126 123C1178.5 46.5 1205 135 1251 198C1297 261 1345 232 1376 196C1407 160 1444 102.5 1518 109.5C1592 116.5 1604 210.971 1640.5 226C1677 241.029 1696 123 1762 123C1828 123 1839 198 1876 253.5C1913 309 1943.5 313 2001 301Z")
  }   
  10%{
      d: path("M999.996 300V0H875H750H625H500H375H250H125H0V300C57.4961 284.5 72.5039 236.5 125 160C177.496 83.5 203.996 98 250 161C296.004 224 344.004 202 375 166C405.996 130 442.996 81.5 516.996 88.5C590.996 95.5 602.996 225.971 639.496 241C675.996 256.029 694.996 150 760.996 150C826.996 150 837.996 169 875 224.5C912.004 280 942.496 312 999.996 300ZM2000 300V0H1875H1750H1625H1500H1375H1250H1125H999.996V300C1057.5 284.5 1072.5 236.5 1125 160C1177.5 83.5 1204 98 1250 161C1296 224 1344 202 1375 166C1406 130 1443 81.5 1517 88.5C1591 95.5 1603 225.971 1639.5 241C1676 256.029 1695 150 1761 150C1827 150 1838 169 1875 224.5C1912 280 1942.5 312 2000 300Z")
  }
  20%{
      d: path("M999.996 300V0H875H750H625H500H375H250H125H0V300C57.4961 284.5 72.5039 264.5 125 188C177.496 111.5 203.996 129 250 192C296.004 255 344.004 169 375 133C405.996 97 442.996 61.5 516.996 68.5C590.996 75.5 602.996 163.971 639.496 179C675.996 194.029 694.996 107 760.996 107C826.996 107 837.996 137 875 192.5C912.004 248 942.496 312 999.996 300ZM2000 300V0H1875H1750H1625H1500H1375H1250H1125H999.996V300C1057.5 284.5 1072.5 263.5 1125 187C1177.5 110.5 1204 129 1250 192C1296 255 1344 169 1375 133C1406 97 1443 61.5 1517 68.5C1591 75.5 1603 163.971 1639.5 179C1676 194.029 1695 107 1761 107C1827 107 1838 137 1875 192.5C1912 248 1942.5 312 2000 300Z")
  }
  30%{
      d: path("M1001 301V1H876.004H751.004H626.004H501.004H376.004H251.004H126.004H1.00391V301C58.5 285.5 73.5078 199.5 126.004 123C178.5 46.5 205 135 251.004 198C297.008 261 345.008 232 376.004 196C407 160 444 102.5 518 109.5C592 116.5 604 210.971 640.5 226C677 241.029 696 123 762 123C828 123 839 198 876.004 253.5C913.008 309 943.5 313 1001 301Z M2001 301V1H1876H1751H1626H1501H1376H1251H1126H1001V301C1058.5 285.5 1073.5 199.5 1126 123C1178.5 46.5 1205 135 1251 198C1297 261 1345 232 1376 196C1407 160 1444 102.5 1518 109.5C1592 116.5 1604 210.971 1640.5 226C1677 241.029 1696 123 1762 123C1828 123 1839 198 1876 253.5C1913 309 1943.5 313 2001 301Z")
  }
  40%{
      d: path("M999.996 300V0H875H750H625H500H375H250H125H0V300C57.4961 284.5 72.5039 264.5 125 188C177.496 111.5 203.996 129 250 192C296.004 255 344.004 169 375 133C405.996 97 442.996 61.5 516.996 68.5C590.996 75.5 602.996 163.971 639.496 179C675.996 194.029 694.996 107 760.996 107C826.996 107 837.996 137 875 192.5C912.004 248 942.496 312 999.996 300ZM2000 300V0H1875H1750H1625H1500H1375H1250H1125H999.996V300C1057.5 284.5 1072.5 263.5 1125 187C1177.5 110.5 1204 129 1250 192C1296 255 1344 169 1375 133C1406 97 1443 61.5 1517 68.5C1591 75.5 1603 163.971 1639.5 179C1676 194.029 1695 107 1761 107C1827 107 1838 137 1875 192.5C1912 248 1942.5 312 2000 300Z")
  }
  50%{
      d: path("M999.996 300V0H875H750H625H500H375H250H125H0V300C57.4961 284.5 72.5039 236.5 125 160C177.496 83.5 203.996 98 250 161C296.004 224 344.004 202 375 166C405.996 130 442.996 81.5 516.996 88.5C590.996 95.5 602.996 225.971 639.496 241C675.996 256.029 694.996 150 760.996 150C826.996 150 837.996 169 875 224.5C912.004 280 942.496 312 999.996 300ZM2000 300V0H1875H1750H1625H1500H1375H1250H1125H999.996V300C1057.5 284.5 1072.5 236.5 1125 160C1177.5 83.5 1204 98 1250 161C1296 224 1344 202 1375 166C1406 130 1443 81.5 1517 88.5C1591 95.5 1603 225.971 1639.5 241C1676 256.029 1695 150 1761 150C1827 150 1838 169 1875 224.5C1912 280 1942.5 312 2000 300Z")
  }
  60%{
      d: path("M1001 301V1H876.004H751.004H626.004H501.004H376.004H251.004H126.004H1.00391V301C58.5 285.5 73.5078 199.5 126.004 123C178.5 46.5 205 135 251.004 198C297.008 261 345.008 232 376.004 196C407 160 444 102.5 518 109.5C592 116.5 604 210.971 640.5 226C677 241.029 696 123 762 123C828 123 839 198 876.004 253.5C913.008 309 943.5 313 1001 301Z M2001 301V1H1876H1751H1626H1501H1376H1251H1126H1001V301C1058.5 285.5 1073.5 199.5 1126 123C1178.5 46.5 1205 135 1251 198C1297 261 1345 232 1376 196C1407 160 1444 102.5 1518 109.5C1592 116.5 1604 210.971 1640.5 226C1677 241.029 1696 123 1762 123C1828 123 1839 198 1876 253.5C1913 309 1943.5 313 2001 301Z")
  }
  70%{
      d: path("M999.996 300V0H875H750H625H500H375H250H125H0V300C57.4961 284.5 72.5039 236.5 125 160C177.496 83.5 203.996 98 250 161C296.004 224 344.004 202 375 166C405.996 130 442.996 81.5 516.996 88.5C590.996 95.5 602.996 225.971 639.496 241C675.996 256.029 694.996 150 760.996 150C826.996 150 837.996 169 875 224.5C912.004 280 942.496 312 999.996 300ZM2000 300V0H1875H1750H1625H1500H1375H1250H1125H999.996V300C1057.5 284.5 1072.5 236.5 1125 160C1177.5 83.5 1204 98 1250 161C1296 224 1344 202 1375 166C1406 130 1443 81.5 1517 88.5C1591 95.5 1603 225.971 1639.5 241C1676 256.029 1695 150 1761 150C1827 150 1838 169 1875 224.5C1912 280 1942.5 312 2000 300Z")
  }
  80%{
      d: path("M999.996 300V0H875H750H625H500H375H250H125H0V300C57.4961 284.5 72.5039 264.5 125 188C177.496 111.5 203.996 129 250 192C296.004 255 344.004 169 375 133C405.996 97 442.996 61.5 516.996 68.5C590.996 75.5 602.996 163.971 639.496 179C675.996 194.029 694.996 107 760.996 107C826.996 107 837.996 137 875 192.5C912.004 248 942.496 312 999.996 300ZM2000 300V0H1875H1750H1625H1500H1375H1250H1125H999.996V300C1057.5 284.5 1072.5 263.5 1125 187C1177.5 110.5 1204 129 1250 192C1296 255 1344 169 1375 133C1406 97 1443 61.5 1517 68.5C1591 75.5 1603 163.971 1639.5 179C1676 194.029 1695 107 1761 107C1827 107 1838 137 1875 192.5C1912 248 1942.5 312 2000 300Z")
  }
  90%{
      d: path("M999.996 300V0H875H750H625H500H375H250H125H0V300C57.4961 284.5 72.5039 236.5 125 160C177.496 83.5 203.996 98 250 161C296.004 224 344.004 202 375 166C405.996 130 442.996 81.5 516.996 88.5C590.996 95.5 602.996 225.971 639.496 241C675.996 256.029 694.996 150 760.996 150C826.996 150 837.996 169 875 224.5C912.004 280 942.496 312 999.996 300ZM2000 300V0H1875H1750H1625H1500H1375H1250H1125H999.996V300C1057.5 284.5 1072.5 236.5 1125 160C1177.5 83.5 1204 98 1250 161C1296 224 1344 202 1375 166C1406 130 1443 81.5 1517 88.5C1591 95.5 1603 225.971 1639.5 241C1676 256.029 1695 150 1761 150C1827 150 1838 169 1875 224.5C1912 280 1942.5 312 2000 300Z")
  }
  100%{
      transform: translateX(50%);
      d: path("M1001 301V1H876.004H751.004H626.004H501.004H376.004H251.004H126.004H1.00391V301C58.5 285.5 73.5078 199.5 126.004 123C178.5 46.5 205 135 251.004 198C297.008 261 345.008 232 376.004 196C407 160 444 102.5 518 109.5C592 116.5 604 210.971 640.5 226C677 241.029 696 123 762 123C828 123 839 198 876.004 253.5C913.008 309 943.5 313 1001 301Z M2001 301V1H1876H1751H1626H1501H1376H1251H1126H1001V301C1058.5 285.5 1073.5 199.5 1126 123C1178.5 46.5 1205 135 1251 198C1297 261 1345 232 1376 196C1407 160 1444 102.5 1518 109.5C1592 116.5 1604 210.971 1640.5 226C1677 241.029 1696 123 1762 123C1828 123 1839 198 1876 253.5C1913 309 1943.5 313 2001 301Z")
  }
}

@keyframes wave2 {
  0%{
      transform: translateX(0%);   
      d: path("M2255 192V0H1694.5H1127.25H563.625H0V192C0 192 74.5 -7 255 50.5C420 106.5 448.5 205 537 160C607.419 124.194 791.891 6.96902 869.5 85C961.5 177.5 1079 160 1271.5 85C1408.62 31.5747 1530 210.5 1641 106.5C1703.55 47.894 1853 0 1983.5 78C2046.5 134.5 2220 289 2255 192ZM4510 192V0H3949.5H3382.25H2818.62H2255V192C2255 192 2329.5 -7 2510 50.5C2675 106.5 2703.5 205 2792 160C2862.42 124.194 3046.89 6.96902 3124.5 85C3216.5 177.5 3334 160 3526.5 85C3663.62 31.5747 3785 210.5 3896 106.5C3958.55 47.894 4108 0 4238.5 78C4301.5 134.5 4475 289 4510 192Z")
  }   
  10%{
      d: path("M2255 192V0H1694.5H1127.25H563.625H0V192C0 192 104.5 17 285 74.5C450 130.5 476.5 179 565 134C635.419 98.194 813.891 45.969 891.5 124C983.5 216.5 1111 140 1303.5 65C1440.62 11.5747 1548 217.5 1659 113.5C1721.55 54.894 1876 -7 2006.5 71C2069.5 127.5 2220 289 2255 192ZM4510 192V0H3949.5H3382.25H2818.62H2255V192C2255 192 2359.5 18 2540 75.5C2705 131.5 2731.5 179 2820 134C2890.42 98.194 3068.89 45.969 3146.5 124C3238.5 216.5 3366 140 3558.5 65C3695.62 11.5747 3803 217.5 3914 113.5C3976.55 54.894 4131 -7 4261.5 71C4324.5 127.5 4475 289 4510 192Z")
  }
  20%{
      d: path("M2255 192V0H1694.5H1127.25H563.625H0V192C0 192 74.5 54 255 111.5C420 167.5 448.5 151 537 106C607.419 70.194 791.891 45.969 869.5 124C961.5 216.5 1079 138 1271.5 63C1408.62 9.5747 1530 235.5 1641 131.5C1703.55 72.894 1853 16 1983.5 94C2046.5 150.5 2220 289 2255 192ZM4510 192V0H3949.5H3382.25H2818.62H2255V192C2255 192 2329.5 54 2510 111.5C2675 167.5 2703.5 151 2792 106C2862.42 70.194 3046.89 45.969 3124.5 124C3216.5 216.5 3334 138 3526.5 63C3663.62 9.5747 3785 235.5 3896 131.5C3958.55 72.894 4108 16 4238.5 94C4301.5 150.5 4475 289 4510 192Z")
  }
  30%{
      d: path("M2255 192V0H1694.5H1127.25H563.625H0V192C0 192 74.5 -7 255 50.5C420 106.5 448.5 205 537 160C607.419 124.194 791.891 6.96902 869.5 85C961.5 177.5 1079 160 1271.5 85C1408.62 31.5747 1530 210.5 1641 106.5C1703.55 47.894 1853 0 1983.5 78C2046.5 134.5 2220 289 2255 192ZM4510 192V0H3949.5H3382.25H2818.62H2255V192C2255 192 2329.5 -7 2510 50.5C2675 106.5 2703.5 205 2792 160C2862.42 124.194 3046.89 6.96902 3124.5 85C3216.5 177.5 3334 160 3526.5 85C3663.62 31.5747 3785 210.5 3896 106.5C3958.55 47.894 4108 0 4238.5 78C4301.5 134.5 4475 289 4510 192Z")
  }
  40%{
      d: path("M2255 192V0H1694.5H1127.25H563.625H0V192C0 192 104.5 17 285 74.5C450 130.5 476.5 179 565 134C635.419 98.194 813.891 45.969 891.5 124C983.5 216.5 1111 140 1303.5 65C1440.62 11.5747 1548 217.5 1659 113.5C1721.55 54.894 1876 -7 2006.5 71C2069.5 127.5 2220 289 2255 192ZM4510 192V0H3949.5H3382.25H2818.62H2255V192C2255 192 2359.5 18 2540 75.5C2705 131.5 2731.5 179 2820 134C2890.42 98.194 3068.89 45.969 3146.5 124C3238.5 216.5 3366 140 3558.5 65C3695.62 11.5747 3803 217.5 3914 113.5C3976.55 54.894 4131 -7 4261.5 71C4324.5 127.5 4475 289 4510 192Z")
  }
  50%{
      d: path("M2255 192V0H1694.5H1127.25H563.625H0V192C0 192 74.5 54 255 111.5C420 167.5 448.5 151 537 106C607.419 70.194 791.891 45.969 869.5 124C961.5 216.5 1079 138 1271.5 63C1408.62 9.5747 1530 235.5 1641 131.5C1703.55 72.894 1853 16 1983.5 94C2046.5 150.5 2220 289 2255 192ZM4510 192V0H3949.5H3382.25H2818.62H2255V192C2255 192 2329.5 54 2510 111.5C2675 167.5 2703.5 151 2792 106C2862.42 70.194 3046.89 45.969 3124.5 124C3216.5 216.5 3334 138 3526.5 63C3663.62 9.5747 3785 235.5 3896 131.5C3958.55 72.894 4108 16 4238.5 94C4301.5 150.5 4475 289 4510 192Z")
  }
  60%{
      d: path("M2255 192V0H1694.5H1127.25H563.625H0V192C0 192 74.5 -7 255 50.5C420 106.5 448.5 205 537 160C607.419 124.194 791.891 6.96902 869.5 85C961.5 177.5 1079 160 1271.5 85C1408.62 31.5747 1530 210.5 1641 106.5C1703.55 47.894 1853 0 1983.5 78C2046.5 134.5 2220 289 2255 192ZM4510 192V0H3949.5H3382.25H2818.62H2255V192C2255 192 2329.5 -7 2510 50.5C2675 106.5 2703.5 205 2792 160C2862.42 124.194 3046.89 6.96902 3124.5 85C3216.5 177.5 3334 160 3526.5 85C3663.62 31.5747 3785 210.5 3896 106.5C3958.55 47.894 4108 0 4238.5 78C4301.5 134.5 4475 289 4510 192Z")
  }
  70%{
      d: path("M2255 192V0H1694.5H1127.25H563.625H0V192C0 192 104.5 17 285 74.5C450 130.5 476.5 179 565 134C635.419 98.194 813.891 45.969 891.5 124C983.5 216.5 1111 140 1303.5 65C1440.62 11.5747 1548 217.5 1659 113.5C1721.55 54.894 1876 -7 2006.5 71C2069.5 127.5 2220 289 2255 192ZM4510 192V0H3949.5H3382.25H2818.62H2255V192C2255 192 2359.5 18 2540 75.5C2705 131.5 2731.5 179 2820 134C2890.42 98.194 3068.89 45.969 3146.5 124C3238.5 216.5 3366 140 3558.5 65C3695.62 11.5747 3803 217.5 3914 113.5C3976.55 54.894 4131 -7 4261.5 71C4324.5 127.5 4475 289 4510 192Z")
  }
  80%{
      d: path("M2255 192V0H1694.5H1127.25H563.625H0V192C0 192 74.5 54 255 111.5C420 167.5 448.5 151 537 106C607.419 70.194 791.891 45.969 869.5 124C961.5 216.5 1079 138 1271.5 63C1408.62 9.5747 1530 235.5 1641 131.5C1703.55 72.894 1853 16 1983.5 94C2046.5 150.5 2220 289 2255 192ZM4510 192V0H3949.5H3382.25H2818.62H2255V192C2255 192 2329.5 54 2510 111.5C2675 167.5 2703.5 151 2792 106C2862.42 70.194 3046.89 45.969 3124.5 124C3216.5 216.5 3334 138 3526.5 63C3663.62 9.5747 3785 235.5 3896 131.5C3958.55 72.894 4108 16 4238.5 94C4301.5 150.5 4475 289 4510 192Z")
  }
  90%{
      d: path("M2255 192V0H1694.5H1127.25H563.625H0V192C0 192 74.5 -7 255 50.5C420 106.5 448.5 205 537 160C607.419 124.194 791.891 6.96902 869.5 85C961.5 177.5 1079 160 1271.5 85C1408.62 31.5747 1530 210.5 1641 106.5C1703.55 47.894 1853 0 1983.5 78C2046.5 134.5 2220 289 2255 192ZM4510 192V0H3949.5H3382.25H2818.62H2255V192C2255 192 2329.5 -7 2510 50.5C2675 106.5 2703.5 205 2792 160C2862.42 124.194 3046.89 6.96902 3124.5 85C3216.5 177.5 3334 160 3526.5 85C3663.62 31.5747 3785 210.5 3896 106.5C3958.55 47.894 4108 0 4238.5 78C4301.5 134.5 4475 289 4510 192Z")
  }
  100%{
      transform: translateX(50%);
      d: path("M2255 192V0H1694.5H1127.25H563.625H0V192C0 192 74.5 -7 255 50.5C420 106.5 448.5 205 537 160C607.419 124.194 791.891 6.96902 869.5 85C961.5 177.5 1079 160 1271.5 85C1408.62 31.5747 1530 210.5 1641 106.5C1703.55 47.894 1853 0 1983.5 78C2046.5 134.5 2220 289 2255 192ZM4510 192V0H3949.5H3382.25H2818.62H2255V192C2255 192 2329.5 -7 2510 50.5C2675 106.5 2703.5 205 2792 160C2862.42 124.194 3046.89 6.96902 3124.5 85C3216.5 177.5 3334 160 3526.5 85C3663.62 31.5747 3785 210.5 3896 106.5C3958.55 47.894 4108 0 4238.5 78C4301.5 134.5 4475 289 4510 192Z")
  }
}