* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue';
    box-sizing: border-box;
}

body {
  position: relative;
  width:100vw;
  height:100vh;
  overflow-x: hidden;
  background-color: #38334B;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
